.DS_Store
.vscode/settings.json
datasets/
.vscode/

example.log

target_dataset/
.markdownlint.json

*.pem
auto_model/
checkpoints/
tensorboard/
.ipynb_checkpoints/

image_classifier/

example (1).log

__pycache__/
